.popup {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.popup_content {
    max-width: 800px;
    min-width: 400px;

    min-height: 500px;
    background-color: #fff;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    position: relative;
}
.popup_text {
    width: 100%;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}

.popup_close {
    cursor: pointer;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 40px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5em;
    transition: background-color 0.3s ease;
}

.popup_close:hover {
    background-color: red;
    color: white;
}

.popup_close:focus {
    outline: none;
}

.popup_close:active {
    background-color: darkred;
    color: white;
}

.popup_content > * {
    flex: 1 1 auto;
    margin: 10px;
}
